<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Add Bean -->
    <bean name="speakerRepository"
          class="com.spring.repository.HibernateSpeakerRepositoryImpl" />

    <!-- Setter Injection -->
    <!--
    <bean name="speakerService" class="com.spring.service.SpeakerServiceImpl" >
        <property name="speakerRepository" ref="speakerRepository" />
    </bean>
    -->


    <!-- Constructor Injection -->
    <bean name="speakerService" class="com.spring.service.SpeakerServiceImpl" autowire="byName">
   <!--     <constructor-arg index="0" ref="speakerRepository" />  -->
    </bean>


</beans>
